ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

:root {
    --r-main-font-size: 22px;
    --r-heading1-size: 3.77em;
    --r-heading2-size: 2.11em;
    --r-heading3-size: 1.75em;
    --r-heading4-size: 1.50em;
}